.pecheurContainer{
    margin:auto;
    width:80%;
    padding-bottom: 100px;
}

.bascule-content img{
    width:100%;
}

.pecheur-bascule{
    padding-top:20px;
}

.pecheurContainer h1{
    text-align:center;
}