body{
  background-image: url('/src/assets/bg-dofusu.webp');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.container{
  /* height: 100vh;
  overflow: hidden; */
}